<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>ThreePin</title>
<link id = "test" rel="stylesheet" href="css/main.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Nw1Dqe9tkAc4Hsq0LhxD0TPFfJp_3qc"></script>
<link href="https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script|Lobster" rel="stylesheet">
<link href='calendar/cal/fullcalendar.min.css' rel='stylesheet' />
<link href='calendar/cal/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='calendar/lib/moment.min.js'></script>
<script src='calendar/lib/jquery.min.js'></script>
<script src='calendar/lib/jquery-ui.min.js'></script>
<script src='calendar/cal/fullcalendar.min.js'></script>

<script src='js/konami.js'></script>
<script src='js/validator.js'></script>
<script src="js/map.js"></script>
<script src="js/main.js"></script>
