<!-- views/partials/headers.ejs -->
<div id="header">
<img id="logo" src="img/3p.png" alt="logo" />
<button id="changeTheme" >Change Theme to Black and white</button>
<%- locals.flash %>
</div>

<!--
  Heres where notification will be rendered
-->


<audio > <source src="kon/raw.ogg" type="audio/ogg"> </audio>
