<!-- views\partials\menu.ejs -->

<nav id="button">
    <ul class="vertical_menu">
      <li id="home" class="button"> <a href="/"> Welcome </a>   </li >
        <li class="head" id="login" href="#modal"><a href="/login"> Login </a></li>
          <li id="planning" class="button"> <a href="/startForm"> Start planning </a> </li >
            <li id="around" class="button"> <a href="/around"> What's around you </a>   </li >
              <li id="map"  class="button"><a href="/map">  Map  </a></li >
                <li id="planner" class="button"><a href="/populate"> Plan your day </a>    </li >
                  <li id="profileButton" class="button"><a href="/profile">  Profile   </a></li >
                    </ul>
    </nav>
