<div id = "login">
  <h1>Login</h1>
  <!-- <form action="/login" method="POST"> -->
  <form  method="POST" onsubmit = "return validateLogin()" action="/login">
    <input type="text" id = email placeholder="e-mail" name="email">
    <input type="text" id = password placeholder="password" name="password">
    <button type="submit">Log-in</button>
  </form>

</div>
