<!-- view/partials/login.ejs -->

<!-- start login div -->
<div id="loginForm">
  <h2 >Login or Register</h2>
  <label class='label'><b>Email / Username </b></label>
  <input class='box' type='text'></input><br/>
  <label class='label'><b>Password </b></label>
  <input class='box' type='password'></input><br/>
  <input type='checkbox' name='remember'> Remember me <br/>
  <button class='submit'>Submit</button>")
  <button class='reset'>Cancel</button>");
</div> <!-- end loginForm div -->
