<!-- views\partials\profile.ejs -->
<div id ="profile">
  <h1>Your Profile</h1>

  <h3>Full name</h3>
  <p>details</p>
  <p>details</p>
  <p>details</p>
  <p>details</p>
  <p>details</p>
  <img src="" alt="profile pics">
</div>
