
<div id="registerForm">
  <h1>Register here</h1>
    <form  method="POST" onsubmit = "return validate()" action="/register">
      <input type="text" id = "name" placeholder="name" name="name">
      <input type="text" id = "email" placeholder="e-mail" name="email" required>
      <input type="password" id = "password" placeholder="password" name="password">
      <input type="password" id = "checkPassword" placeholder="re-type password" name="checkPassword">
      <button type="submit">Register</button>
    </form>
  </div>
